.header {
  display: grid;
  grid-template-columns: 1000px 875px;
}

.right-section {
  font-size: 14px;
  background-color: #0F171A99;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  flex-shrink: 0;
  top: 0;
  left: 0;
  padding-left: 20px;
  border-radius: 5px;;
}

.left-section {
  width: 100px;
}

.login {
  padding-right: 24px;
  padding-left: 24px;
  padding-top: 16px;
  padding-bottom: 16px;
  background-color: #EE9455;
  font-size: 15px;
  font-weight: bold;
  border-radius: 8px;
}